// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual{
    width: 100%;
    height: 30px;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}
